.project
.classpath
*.prefs
.springBeans
.settings
target/
tmp
.idea/
*.iml
*.ipr
*.iws
project/
.gradle/
out/
.metadata
classes/
bin/
build/
*/src/generated/
.DS_Store
*/.DS_Store
*.log
log/
logs/
war/
gwt-unitCache/
tomcat/
